![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = "Coches de segunda mano en España"

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Análisis de coches de segunda mano en España anunciados en plataformas "

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [16]:
# Escribe tu hipótesis principal en Markdown

hipotesis_1 = "La presencia de los coches de combustion predomina frente a los coches electricos"

hipotesis_2 = "Hay mayor porcentaje de coches híbridos frente a coches eléctricos"
hipotesis_3 = "La evulución del mercado tendrá una transicion notable por el tipo de combustible en futuros años"
hipotesis_4 = "La presencia de los coches hibridos y electricos es mayor en Madrid y Barcelona"
hipotesis_5 = "En las princpipales ciudades de España los precios son más elevados"
hipotesis_6 = "El kilometraje de los coches afecta directamente al nivel de precios"
hipotesis_7 = "El nombre de la marca de los coches afecta al precio"
hipotesis_8 = "La tendencia de los anuncios se ve marcada por la marca del vehículo"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import zipfile

with zipfile.ZipFile('data/coches-de-segunda-mano-sample.csv.zip') as zip_ref:
    zip_ref.extractall('data')

In [12]:
import pandas as pd
data = pd.read_csv("data/coches-de-segunda-mano-sample.csv")
fuente_1 = "https://www.kaggle.com/datasets/datamarket/venta-de-coches/data?select=coches-de-segunda-mano-sample.csv"

In [13]:
data['country'].str.count("Spain").sum()

50000

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [14]:
# Primer dataset
data.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              50000 non-null  object
 1   company          50000 non-null  object
 2   make             49998 non-null  object
 3   model            49995 non-null  object
 4   version          50000 non-null  object
 5   price            50000 non-null  int64
 6   price_financed   23563 non-null  float64
 7   fuel             49954 non-null  object
 8   year             49998 non-null  float64
 9   kms              50000 non-null  int64
 10  power            41472 non-null  float64
 11  doors            50000 non-null  int64
 12  shift            49889 non-null  object
 13  color            49406 non-null  object
 14  photos           50000 non-null  int64
 15  is_professional  50000 non-null  bool
 16  dealer           50000 non-null  object
 17  province         49994 non-null  object
 18  country          50000 non-null  object
 19  publish_date     50000 non-null  object
 20  insert_date      50000 non-null  object
dtypes: bool(1), float64(3), int64(4), object(13)
memory usage: 7.7+ MB

In [ ]:
# Siguiente dataset...
# df_2.head()